body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    font-family: "Roboto Light", sans-serif;
}

.button {
    padding-bottom: 30px;
}

.container {
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background: #fff;
}

.container h1 {
    margin-bottom: 20px;
}

.container {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 500px;
    letter-spacing: 1px;
    min-width: 100px;
    text-transform: uppercase;
    font-family: "Roboto Light", sans-serif;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 24px;
    color: #fff;
    background-color: #1ED760;
    height: 12px; /* Adjusted from 48px to 36px */
    margin-top: 10px;
}
a:hover {
    background-color: #63ff9d;
    color: #fff;
}


.container span {
    display: block;
    margin: 10px 0;
}

.container span strong {
    display: block;
    margin-bottom: 5px;
}

.container span p {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
